/*this is the one we want in order to style the autocomplete schedule*/
#schedule input {
        font-family: Arial;
        font-size: .8em;
        width: 75px;
}

#schedule .clone {
        display: none;
}

#schedule {
        display: none;
}