
header {
    display: block;
    background-color: #627a60;
    text-align: left;
}

body {
    margin: 0;
    padding:0;
}

nav {
    text-align: left;
}

/* hide nested lists */
nav ul ul {
    display: none;
}

/*make child list items visible on hover > means child */
nav ul li:hover > ul {
    display: block;
}

nav ul {
    padding: 0 0px;
    background-color: #948c75; /*menu color*/
    border: 1px solid #7a6a53;
    list-style: none; /*get rid of bullet points */
    position: relative; /*sub menus position relative to nav bar */
}

nav ul:after { /*inserts content  after list*/
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background-color: #d9ceb2;
    border: 1px solid #6A4A3C;
}

nav ul li:hover a {
    color: #7a6a53;
}

/*modify menu bar blocks */
nav ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none; /*remove link underlines */
    color: #EFEFEF;
}

/*sub menus*/
nav ul ul {
   position: absolute; /*set towards parent ul*/
   top: 100%; /*lines top of element right up next to containing li in menu*/
   padding: 0;

}

/*sub menu list items */
nav ul ul li {
    float: none;
    border: 1px solid #948c75;
    position: relative;
    background: #d9ceb2;

}

nav ul ul li a {
    text-align: left;
    padding: 15px 5px;
}

nav ul ul li a:hover {

    background: #EDC951;
}
/* sub sub menus */
nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

.auto-update {

}