
h1 {
    text-align: center;
}

nav {
    text-align: center;
}

/* hide nested lists */
nav ul ul {
    display: none;
}

/*make child list items visible on hover > means child */
nav ul li:hover > ul {
    display: block;
}

nav ul {
    display: inline-table; /*makes menu width fit around items */
    padding: 0 20px;
    background-color: #CC333F;
    border-radius: 8px; /*round edges*/
    list-style: none; /*get rid of bullet points */
    position: relative; /*sub menus position relative to nav bar */
    color: #EFEFEF;
}

nav ul:after { /*inserts content  after list*/
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background-color: #EB6841;
}

nav ul li:hover a {
    color: #EFEFEF;
}

/*modify menu bar blocks */
nav ul li a {
    display: block;
    padding: 20px 15px;
    text-decoration: none; /*remove link underlines */
    color: #EFEFEF;
}

/*sub menus*/
nav ul ul {
   position: absolute; /*set towards parent ul*/
   top: 100%; /*lines top of element right up next to containing li in menu*/
   padding: 0;
}

/*sub menu list items */
nav ul ul li {
    float: none;
    border: 1px solid #EB6841;
    position: relative;
    background: #EDC951;
}

nav ul ul li a {
    padding: 20px 15px;
}

nav ul ul li a:hover {
    background: #DE5F59;
}
/* sub sub menus */
nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}