body {
	background-color: #99b2b7;
	color: #6A4A3C;
	font-family: Helvetica;

}

header {
    display: block;
    background-color: #627a60;
    text-align: left;
    margin: 0;
    padding:0;
}

body {
    margin: 0;
    padding:0;
    background-repeat: no-repeat;
    background-size:  100%;
    background-attachment: fixed;
    background-position: center bottom;

}

h1{
background-color: #627a60;
	color: #EFEFEF;
	margin: 0;
	padding:0;

}


button {
	background-color: #948c75;
	color: white;
	border: 1px solid #7a6a53;
	padding: 4px;
}


.login{
text-align: center;
}

aside {
       float: right;

         position: relative;
         left: -30%; /* or right 50% */
         text-align: left;
}
